<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <div class="error-link">
    <a href="/inv/trigger-error">Test Error Handling</a>
  </div>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
</footer>