<section class="classification-main">
  <%# This function will dinamicaly create an h1 matching the Title of the view %>
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<%# messages() %>

<%- grid %>
</section>