<section class="management-view">
    <%# This function will dinamicaly create an h1 matching the Title of the view %>
  <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
    <%- messages() %>
    
    <div class="management-links">
      <ul>
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Inventory</a></li>
      </ul>
    </div>
    <div>
      <h2>Manage Inventory</h2>
      <p>Choose a classification to see those inventory items.</p>
      <%- classificationSelect %>

      <table id="inventoryDisplay"></table>

      <nonscript>JavaScript must be enabled to use this page.</nonscript>
    </div>
  </section>
  <script src="/js/inventory.js"></script>