<section class="account-management-view">
  <% if (title) { %>
    <h1><%= title %></h1>
    <%- messages() %>
  <% } else {
    res.redirect('/')
  } %>
  
  <% if (errors && !errors.isEmpty()) { %>
    <ul class="errors">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <div class="account-content">
    <div class="account-links">
      <a href="/inv/add-classification" class="management-link">Add New Classification</a>
      <a href="/inv/add-inventory" class="management-link">Add New Inventory</a>
    </div>

    <div class="management-section">
      <h2>Manage Inventory</h2>
      <p>Choose a classification to see those inventory items.</p>
      <%- classificationSelect %>

      <table id="inventoryDisplay"></table>

      <nonscript>JavaScript must be enabled to use this page.</nonscript>
    </div>
  </div>
</section>
<script src="/js/inventory.js"></script>